
<div class="s012">
  <form>
    <fieldset >
      <legend>Welcome to LambdaPharmacy</legend>
    </fieldset>
    <div class="inner-form">

      <div class="main-form" id="main-form">
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="Username" />
            </div>
          </div>
          <div class="input-wrap">
            <div class="input-field">
              <input  type="password" placeholder="Password" />
            </div>
          </div>
          <div class="input-field">
            <button class="btn-search" type="button">Log in</button>
          </div>

        </div>
        <div class="row last">
        </div>
      </div>
    </div>
  </form>
</div>
