
<div class="main">
  <div class="col-sm-9" style="background-color: #0f6674">
    <h3 class="mgbt-xs-15">Make an appointment - dermatologist</h3>
    <form (ngSubmit)= "makeAnAppointment()" [formGroup]="newApForm">
      <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Date of appointment</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="date" formControlName="dateOfAppointment" id="dateOfAppointment" name="dateOfAppointment"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Meeting time</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="time" formControlName="meetingTime" id="meetingTime" name="meetingTime"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Duration</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" formControlName="duration" id="duration" name="duration"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Price</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" formControlName="price" id="price" name="price"/>
            </div>
          </div>
          <hr>

        </div>
        <button type="submit" class="btn-search" style="margin-left: 100px; margin-right: 100px; margin-bottom: 50px">Create</button>
      </div>
      </div>
    </form>
  </div>
  </div>

