<div *ngIf="isPharmacyAdmin && isFirstLogin" style="display: flex;  justify-content: center;
  align-items: center;">
    <h5 style=" color:#0f6674; font-family:'Arial Black'">Welcome to LambdaPharmacy! This is your first login. Please change your password before you continue.</h5>
    <button style="margin-left:50px;" class="btn-search" (click)="showChangePasswordForm()">Change password</button>
  </div>

<div class="s012" ng *ngIf="pharmacyShow">
  <form (ngSubmit) = searchPharmacy() [formGroup]="searchPharmacyForm">
    <fieldset >
      <legend>Looking for a PHARMACY?</legend>
    </fieldset>
    <div class="inner-form">
      <header>
        <div class="travel-type-wrap">
          <div class="item active" >
            <div class="group-icon">
              <img src="assets/pharmacy.png">
            </div>
            <span>PHARMACY</span>
          </div>
          <div class="item"  (click)="showMedicineSearch()">
            <div class="group-icon">
              <img src="assets/medicine.png">
            </div>
            <span>MEDICINE</span>
          </div>
        </div>
      </header>
      <div class="main-form" id="main-form">
        <div class="row second">
          <div class="input-wrap">

            <div class="input-field">

              <input formControlName="pharmacyName" name="pharmacyName" type="text" placeholder="Name" />
            </div>
          </div>
          <div class="input-wrap">

            <div class="input-field">

              <input formControlName="pharmacyLocation" name="pharmacyLocation" type="text" placeholder="Location" />
            </div>
          </div>




          <button class="btn-search" type="submit">Search</button>


        </div>

        <div class="row last">

        </div>
      </div>
    </div>
  </form>
</div>


<div class="s012" *ngIf="medicineShow">
  <form (ngSubmit)= "searchMedicine()" [formGroup]="searchMedicineForm">
    <fieldset >
      <legend>Looking for a MEDICINE?</legend>
    </fieldset>
    <div class="inner-form">
      <header>
        <div class="travel-type-wrap">
          <div class="item" (click)="showPharmacySearch()">
            <div class="group-icon">
              <img src="assets/pharmacy.png">
            </div>
            <span>PHARMACY</span>
          </div>
          <div class="item active">
            <div class="group-icon">
              <img src="assets/medicine.png">
            </div>
            <span>MEDICINE</span>
          </div>
        </div>
      </header>
      <div class="main-form" id="main-form">
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input formControlName="medicineName"  type="text" placeholder="Name" />
            </div>
          </div>
          <div class="input-field">
            <button class="btn-search" type="submit">Search</button>
          </div>

        </div>
        <div class="row last">
        </div>
      </div>
    </div>
  </form>
</div>

<app-list-of-pharmacies *ngIf="pharmacyShow && !show"></app-list-of-pharmacies>
<app-list-of-medicines *ngIf="medicineShow"></app-list-of-medicines>
