

<div class="s012" ng *ngIf="pharmacyShow">
  <form (ngSubmit) = searchPharmacy() [formGroup]="searchPharmacyForm">
    <fieldset >
      <legend>Looking for a PHARMACY?</legend>
    </fieldset>
    <div class="inner-form">
      <header>
        <div class="travel-type-wrap">
          <div class="item active" >
            <div class="group-icon">
              <img src="assets/pharmacy.png">
            </div>
            <span>PHARMACY</span>
          </div>
          <div class="item"  (click)="showMedicineSearch()">
            <div class="group-icon">
              <img src="assets/medicine.png">
            </div>
            <span>MEDICINE</span>
          </div>
        </div>
      </header>
      <div class="main-form" id="main-form">
        <div class="row second">
          <div class="input-wrap">

            <div class="input-field">

              <input formControlName="pharmacyName" type="text" placeholder="Name" />
            </div>
          </div>
          <div class="input-wrap">

            <div class="input-field">

              <input formControlName="pharmacyLocation"  type="text" placeholder="Location" />
            </div>
          </div>


            <label>Min rating:</label>
            <div class="input-field">
              <select data-trigger="" name="pharmacyRating">
                <option value="0" aria-placeholder="">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>





          <button class="btn-search" type="submit">Search</button>


        </div>

        <div class="row last">

        </div>
      </div>
    </div>
  </form>
</div>


<div class="s012" *ngIf="medicineShow">
  <form (ngSubmit)= "searchMedicine()" [formGroup]="searchMedicineForm">
    <fieldset >
      <legend>Looking for a MEDICINE?</legend>
    </fieldset>
    <div class="inner-form">
      <header>
        <div class="travel-type-wrap">
          <div class="item" (click)="showPharmacySearch()">
            <div class="group-icon">
              <img src="assets/pharmacy.png">
            </div>
            <span>PHARMACY</span>
          </div>
          <div class="item active">
            <div class="group-icon">
              <img src="assets/medicine.png">
            </div>
            <span>MEDICINE</span>
          </div>
        </div>
      </header>
      <div class="main-form" id="main-form">
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input formControlName="medicineName"  type="text" placeholder="Name" />
            </div>
          </div>
          <div class="input-field">
            <button class="btn-search" type="submit">Search</button>
          </div>

        </div>
        <div class="row last">
        </div>
      </div>
    </div>
  </form>
</div>

<app-list-of-pharmacies *ngIf="pharmacyShow"></app-list-of-pharmacies>
<app-list-of-medicines *ngIf="medicineShow"></app-list-of-medicines>
