
<div style="background: url(/assets/back.jpg);">
  <div class="preview-users">
    <h1 style="position: center; text-align: center;  color:#0f6674; font-family:'Arial Black'">Order medicines</h1>

    <div class = "custom-search">
      <form [formGroup]="medicineForm" (ngSubmit)="addToList()">


        <select formControlName="medicine" name = "medicine" style="width: 200px; height: 50px;">
          <option *ngFor="let medicine of fetchedMedicines" [value]="medicine.id">
              {{medicine.id}} {{medicine.name}}
          </option>
      </select>

      <input style="width: 200px;" class="custom-input" type="text" id="addQuantity" name="addQuantity" formControlName="addQuantity" placeholder="Quantity"/>

      <button class="btn-search" type="submit">Add to list</button>
    </form>


    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td  mat-cell class="action-cell" *matCellDef="let element">



        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div style="align-items: flex-end; margin-right:auto; margin-top: 20px;">
      <form [formGroup]="orderForm">
      <label style="position: center; text-align: center;  color:#0f6674; font-family:'Arial Black'">Order date:</label>
      <input style="margin-left: 20px;" type="date" formControlName="orderDate" name="orderDate" id="orderDate"/>


    <button type="submit" (click)="orderMedicine()" class="btn-search" style="margin-left: auto; margin-right: auto;">Order</button>
  </form>
</div>
  </div>









</div>
