<div style="background: url(/assets/back.jpg);">
  <div class="preview-users">
    <h1 style="position: center; text-align: center; margin-top: 20px; color:#0f6674; font-family:'Arial Black'">History of appointments</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="dateOfAppointment">
        <th mat-header-cell *matHeaderCellDef> Date of appointment </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfAppointmentt}} </td>
      </ng-container>

      <ng-container matColumnDef="meetingTime">
        <th mat-header-cell *matHeaderCellDef>Meeting time</th>
        <td mat-cell *matCellDef="let element"> {{element.meetingTimee}} </td>
      </ng-container>


      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef>Doctor</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Appointment type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>


      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action</th>
        <td mat-cell class="action-cell" *matCellDef="let element">



        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  </div>

<!--DOCTORS -->

<div style="background: url(/assets/back.jpg);">
  <div class="preview-users">
    <h1 style="position: center; text-align: center; margin-top: 20px; color:#0f6674; font-family:'Arial Black'">Staff</h1>

    <div *ngIf="clickedUser" class = "custom-search">
      <form [formGroup]="rateForm" >

      <input class = "custom-input" type= "text"  formControlName="rateUserID" [(ngModel)]="rateUserID"/>

      <input class="custom-input" type="text" formControlName="rate" [(ngModel)]="rate"/>


      <button *ngIf="!clickedChange"  style="margin-left: 15px;" class="btn-search" type="submit" (click)="rateUser()">Rate</button>
      <button *ngIf="clickedChange" style ="margin-left: 15px;" class = "btn-search" type="submit" (click)="changeUserRate()">Change rate</button>

    </form>
      <button style="margin-left: 15px;" class="btn-search" (click)="cancelUserRate()">Cancel</button>

    </div>




    <table mat-table [dataSource]="dataSourceD" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Doctor </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
      </ng-container>

      <ng-container matColumnDef="myRate">
        <th mat-header-cell *matHeaderCellDef>My rate</th>
        <td mat-cell *matCellDef="let element"> {{element.myRate}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td  mat-cell class="action-cell" *matCellDef="let element">
          <button *ngIf="element.myRate === 0" (click)="rateUserClick(element.id)">Rate</button>
          <button *ngIf="element.myRate != 0" (click)="changeUserRateClick(element.id)">Change rate</button>
          <button (click)="writeComplaint(element.id)">Write a complaint</button>


        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsD"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsD;"></tr>
    </table>

  </div>
  </div>

<!--PHARMACIES-->

  <div style="background: url(/assets/back.jpg);">
    <div class="preview-users">
      <h1 style="position: center; text-align: center; margin-top: 20px; color:#0f6674; font-family:'Arial Black'">Pharmacies</h1>

      <div *ngIf="clickedPharmacy;" class = "custom-search">
        <form [formGroup]="ratePharmacyForm" (ngSubmit)="ratePharmacy()">

        <input class = "custom-input" type= "text"  formControlName="ratePharmacyID" [(ngModel)]="ratePharmacyID"/>

        <input class="custom-input" type="text" formControlName="ratePharm" [(ngModel)]="ratePharm"/>


        <button style="margin-left: 15px;" class="btn-search" type="submit">Rate</button>
      </form>

        <button style="margin-left: 15px;" class="btn-search" (click)="cancelPharmacyRate()">Cancel</button>

      </div>


      <table mat-table [dataSource]="dataSourcePh" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Rating</th>
          <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell class="action-cell" *matCellDef="let element">
            <button (click)="ratePharmacyClick(element.id)">Rate</button>

            <button (click)="writeComplaint(element.id)">Write a complaint</button>


          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsPh"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPh;"></tr>
      </table>

    </div>
    </div>
