<div class="preview-users" style="background: url(/assets/searchimage.jpg);"y>
  <h2 style="position: center; margin-top: 20px; color:#0f6674; font-family:'Arial Black'">History of appointments - dermatologist</h2>
  <div style = "width: 200px; position: center; margin-top: 30px;">
    <select class="custom-select" (change) = "sortChange($event.target.value)" name="sorting" style = "position: center; display: block;" ngModel>
      <option value="" disabled selected>Sorting options..</option>
      <option value = "dateA">Date ascending</option>
      <option value = "dateD">Date descending</option>
      <option value = "priceA">Price ascending</option>
      <option value = "priceD">Price descending</option>
      <option value = "durationA">Duration ascending</option>
      <option value = "durationD">Duration descending</option>
    </select>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfAppointment">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfAppointment | date: 'dd-MM-yyyy'}} </td>
    </ng-container>


    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <ng-container matColumnDef="dermatologistName">
      <th mat-header-cell *matHeaderCellDef>Dermatologist name </th>
      <td mat-cell *matCellDef="let element"> {{element.dermatologistName}} </td>
    </ng-container>

    <ng-container matColumnDef="dermatologistSurname">
      <th mat-header-cell *matHeaderCellDef>Dermatologist surname</th>
      <td mat-cell *matCellDef="let element">{{element.dermatologistSurname}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
