.btn-search{
  min-width: 100px;
  height: 50px;
  padding: 0 15px;
  background: #ff8300;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;

}
