<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a  class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a *ngIf="!anyLogged"  routerLink="/login" class="nav-link">Log in </a></li>
        <li class="nav-item"><a *ngIf="!anyLogged"  routerLink="/register" class="nav-link">Registration</a></li>

          <!--Patient-->
        <div class="nav-item">
           <a class="nav-link" *ngIf="isPatient && anyLogged">Medicines
             <div class="dropdown-content">
                 <a class="nav-link" routerLink="/list-of-prescriptions">E-Prescriptions</a>
                 <a class="nav-link" routerLink="/reserved-medicines">Reserved medicines</a>
                 <a class="nav-link" routerLink="/all-my-medicines">Medicines on e-prescriptions</a>
                 <a class="nav-link" routerLink="/get-medicine-page">Get medicine</a> <!--button in reserved medicines/e-prescriptions-->
              </div>
            </a>
          </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Appointments
            <div class="dropdown-content">
             <a class="nav-link" routerLink="/my-appointments">My appointments</a>
             <a class="nav-link" routerLink="/penalty-insight">Penalty insight</a>
             <a class="nav-link" routerLink="/make-an-app-d">Make an appointment - dermatologist</a> <!--button  in my appointments-->
             <a class="nav-link" routerLink="/make-an-app-p">Make an appointment - pharmacist</a> <!-- button in my appointments-->
             <a class="nav-link" routerLink="/complaint">Write an complaint</a>
          </div>
          </a>
        </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Medical record
            <div class="dropdown-content">
             <a class="nav-link" routerLink="/history-of-app-d">History of appointments - dermatologist</a>
             <a class="nav-link" routerLink="/history-of-app-p">History of appointments - pharmacist</a>
             <a class="nav-link" routerLink="/alergies">List of alergies</a>

          </div>
          </a>
        </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Loyalty program
               <div class="dropdown-content">
                   <a class="nav-link" routerLink="/sub-pharmacies">Subscribed pharmacies</a>
                   <a class="nav-link" routerLink="/my-stats">My stats</a>

                </div>
          </a>
        </div>

      <!--Pharmacy admin-->
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/dermatologists" class="nav-link">Dermatologists</a></li>

      <!--SYSTEM ADMIN-->

      <li class="nav-item"><a *ngIf="anyLogged && isSysAdmin" routerLink="/manage-pharmacy" class="nav-link">Manage pharmacy</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isSysAdmin" routerLink="/manage-dermatologist" class="nav-link">Manage dermatologists</a></li>

        <li class="nav-item"><a *ngIf="anyLogged" routerLink="/patient-profile" class="nav-link">My profile</a></li>


        <li class="nav-item"><a *ngIf="anyLogged" (click)="logout()" class="nav-link">Log out</a></li>

      </ul>



    </div>


  </div>
</nav>
