<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a  class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a *ngIf="!anyLogged"  routerLink="/login" class="nav-link">Log in </a></li>
        <li class="nav-item"><a *ngIf="!anyLogged"  routerLink="/register" class="nav-link">Registration</a></li>

          <!--Patient-->
        <div class="nav-item">
           <a class="nav-link" *ngIf="isPatient && anyLogged">Medicines
             <div class="dropdown-content">

                 <a class="nav-link" routerLink="/reserved-medicines">Reserved medicines</a>
                 <a class="nav-link" routerLink="/all-my-medicines">Picked up medicines</a>

              </div>
            </a>
          </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Appointments
            <div class="dropdown-content">
             <a class="nav-link" routerLink="/my-appointments">My appointments</a>
             <a class="nav-link" routerLink="/make-an-app-p">Make an appointment - pharmacist</a> <!-- button in my appointments-->

          </div>
          </a>
        </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Staff
            <div class="dropdown-content">
             <a class="nav-link" routerLink="/dermatologists">Dermatologists</a>
             <a class="nav-link" routerLink="/pharmacists">Pharmacists</a>

          </div>
          </a>
        </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Medical record
            <div class="dropdown-content">
             <a class="nav-link" routerLink="/history-of-app-d">History of appointments</a>


          </div>
          </a>
        </div>

        <div class="nav-item">
          <a class="nav-link" *ngIf="isPatient && anyLogged">Loyalty program
               <div class="dropdown-content">
                   <a class="nav-link" routerLink="/sub-pharmacies">Subscribed pharmacies</a>


                </div>
          </a>
        </div>

      <!--Pharmacy admin-->
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/dermatologists" class="nav-link">Dermatologists</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/pharmacists" class="nav-link">Pharmacists</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/my-pharmacy" class="nav-link">My pharmacy</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/orders" class="nav-link">Orders</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/pricelist" class="nav-link">Pricelist</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isPharmacyAdmin" routerLink="/vacations" class="nav-link">Vacations</a></li>
      <!--SYSTEM ADMIN-->

      <li class="nav-item"><a *ngIf="anyLogged && isSysAdmin" routerLink="/manage-pharmacy" class="nav-link">Manage pharmacy</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isSysAdmin" routerLink="/manage-dermatologist" class="nav-link">Manage dermatologists</a></li>
      <li class="nav-item"><a *ngIf="anyLogged && isSysAdmin" routerLink="/list-of-medicines" class ="nav-link">Manage medicines</a></li>
      <div class="nav-item">
        <a class="nav-link" *ngIf="isSysAdmin && anyLogged">Manage users
             <div class="dropdown-content">
                 <a class="nav-link" routerLink="/complaint">Complaints</a>


              </div>
        </a>
      </div>

      <div class="nav-item">
        <a class="nav-link" *ngIf="isSysAdmin && anyLogged">Register employees
             <div class="dropdown-content">
                 <a class="nav-link" routerLink="/register-sys-admin">System administrator</a>
                 <a class="nav-link" routerLink="/register-pharmacy-admin">Pharmacy administrator</a>
                 <a class="nav-link" routerLink="/register-supplier">Supplier</a>

              </div>
        </a>
      </div>
      <li class="nav-item"><a *ngIf="anyLogged && isSysAdmin" routerLink="/loyalty-program" class ="nav-link">Loyalty program</a></li>

      <!--SUPPLIER-->
      <li class="nav-item"><a *ngIf="anyLogged && isSupplier" routerLink="/orders" class="nav-link">Orders</a></li>

      <li class="nav-item"><a *ngIf="anyLogged" routerLink="/patient-profile" class="nav-link">My profile</a></li>


        <li class="nav-item"><a *ngIf="anyLogged" (click)="logout()" class="nav-link">Log out</a></li>

      </ul>



    </div>


  </div>
</nav>
