<div class="main">
  <div class="col-sm-9" style="background-color: #0f6674">
    <h3 class="mgbt-xs-15">CHANGE PASSWORD</h3>
    <form (ngSubmit)= "changePassword()" [formGroup]="passwordForm" >
    <div class="col-md-8">
      <div class="card mb-3">

        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Old password</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="password" formControlName= "oldPassword"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">New password</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="password" formControlName= "newPassword"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Confirm password</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="password" formControlName = "conPassword"/>
            </div>
          </div>
          <hr>


        </div>
        <button type="submit" class="btn-search" style="margin-left: 100px; margin-right: 100px; margin-bottom: 50px">Save</button>
      </div>
    </div>
    </form>

  </div>
</div>

