<div style="background: url(/assets/back.jpg);  background-size: cover;
background-position: center center;">





  <div class="preview-users">
    <h1 style="position: center; text-align: center; color:#0f6674; font-family:'Arial Black'">Pharmacy's actions & promotions</h1>
    <button class="btn-search" (click)="backToDetails()">Back to details</button>
    <button style="margin-left:15px;" class="btn-search" (click)="showForm()">New promotion</button>

    <div class="main" *ngIf="clicked">
      <div class="col-sm-9">

        <form (ngSubmit)= "createNewPromotion()" [formGroup]="promotionForm" >
        <div class="col-md-8">
          <div class="card mb-3">

            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Description</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input [(ngModel)]="promotion.description" type="text" formControlName= "description"/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date from</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input [(ngModel)]="promotion.dateFrom" type="date" formControlName= "dateFrom"/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date to</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input [(ngModel)]="promotion.dateTo" type="date" formControlName = "dateTo"/>
                </div>
              </div>
              <hr>


            </div>
            <button type="submit" class="btn-search" style="margin-left: 100px; margin-right: 100px; margin-bottom: 50px">Create</button>
          </div>
        </div>
        </form>

      </div>
    </div>



    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="dateFrom">
        <th mat-header-cell *matHeaderCellDef> Date from</th>
        <td mat-cell *matCellDef="let element"> {{element.dateFromm}} </td>
      </ng-container>

      <ng-container matColumnDef="dateTo">
        <th mat-header-cell *matHeaderCellDef>Date to</th>
        <td mat-cell *matCellDef="let element"> {{element.dateToo}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>

  </div>
  </div>
