<div class="main">
  <div class="col-sm-9" style="background-color: #0f6674; ">
    <h3 class="mgbt-xs-15">Register new pharmacy</h3>
    <form (ngSubmit)= "registerPharmacy()" [formGroup]="pharmacyForm" >
    <div class="col-md-8" style="width: 800px; height:800px; margin-left: auto; margin-right: auto;">
      <div class="card mb-3" style="width: 800px; height: 800px;" >

        <div class="card-body" >
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" formControlName= "name" id="name" name ="name"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Street</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" formControlName= "street" id="street" name ="street"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">City</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" formControlName= "city" id="city" name ="city"/>
            </div>
          </div>
          <hr>



              <agm-map [latitude]="lat" [longitude]="lon" style="margin-left:auto; margin-right:auto;">
                <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
              </agm-map>


          <div class="row" style="margin-top:10px;">
            <div class="col-sm-3">
              <h6 class="mb-0">Description</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" formControlName = "description" id="description" name ="description"/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Set pharmacy administrator</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <select formControlName="pharmacyAdministrator" name = "pharmacyAdministrator" style="width: 150px;">
                <option *ngFor="let pharmacyAdministrator of fetchedAdministrators" [value]="pharmacyAdministrator.id">
                    {{pharmacyAdministrator.id}} {{pharmacyAdministrator.firstName}} {{pharmacyAdministrator.lastName}}
                </option>
            </select>
            </div>
          </div>
          <hr>

        </div>
          <button type="submit" class="btn-search" style="margin-left: 100px; margin-right: 100px; margin-bottom: 50px">Create</button>
        </div>
      </div>
   </form>

  </div>
</div>

