
<div class="s012">
  <form [formGroup]="registrationForm" (ngSubmit)="registerPatient()">
    <fieldset >
      <legend>Register to join our comunity!</legend>
    </fieldset>
    <div class="inner-form">

      <div class="main-form" id="main-form">
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="Name" formControlName="firstName" />
            </div>
          </div>
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="Surname" formControlName="lastName"/>
            </div>
          </div>
          <div class = "input-field">

          </div>
        </div>
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="Username" formControlName="username"/>
            </div>
          </div>
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="E-mail" formControlName="email"/>
            </div>
          </div>
          <div class = "input-field">

          </div>
        </div>
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input  type="password" placeholder="Password" formControlName="password" />
            </div>
          </div>
          <div class="input-wrap">
            <div class="input-field">
              <input  type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
            </div>
          </div>
          <div class = "input-field">

          </div>
        </div>
        <div class="row second">
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="Address" formControlName="address"/>
            </div>
          </div>
          <div class="input-wrap">
            <div class="input-field">
              <input  type="text" placeholder="Phone Number" formControlName="phoneNumber" />
            </div>
          </div>
          <div class = "input-field">

          </div>
        </div>
        <div class="row last">
          <div class="input-field">
            <button class="btn-search" type="submit">Sign in</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
